<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<button (click)="leaveRoom()">Leave room</button>
<p>{{roomName}}!</p>

<div *ngIf="client.currentRoom">
    <div *ngFor="let item of client.currentRoom.members | keyvalue">
        {{item.value}}<br>
    </div>
</div>

<div *ngIf="client.currentRoom">
    <div *ngFor="let word of client.currentRoom.game.words">
        <p style=`color: {{word.color}}`>{{word.label}}</p><br>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="message-box">
                <div class="head-box-1">

                    <ul class="msg-box list-inline text-left d-inline-block float-left">
                        <li> <i class="fas fa-arrow-left" id="back"></i> </li>
                        <li> <img src="https://i.ibb.co/fCzfFJw/person.jpg" alt="" width="40px"> <span> Chat
                            </span></li>
                    </ul>

                    <ul class="flat-icon list-inline text-right d-inline-block float-right">
                        <li> <a href="JavaScript:Void(0);" id="video_chat"> <i class="fas fa-video"></i> </a> </li>
                        <li> <a href="JavaScript:Void(0);" id="open_camera"> <i class="fas fa-camera"></i> </a> </li>
                        <li>
                            <a href="JavaScript:Void(0);" id="dset"> <i class="fas fa-ellipsis-v"></i> </a>
                            <div class="setting-drop">
                                <ul class="list-inline">
                                    <li> <a href="#"> My Profile</a> </li>
                                    <li> <a href="#"> Setting </a> </li>
                                    <li> <a href="#"> Privacy Policy </a> </li>
                                    <li> <a href="#"> Logout </a> </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="msg_history" *ngIf="client.currentRoom">
                    <div class="incoming_msg" *ngFor="let message of client.currentRoom.chat">
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>{{message}}</p>
                                <span class="time_date"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video_box" id="video_section">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="video-chat-top">
                                <div class="video_section">
                                    <img src="https://i.ibb.co/2vtJ3XR/user.png" height="280px" width="280px" />
                                </div>
                                <div class="video_chat_box">
                                    <ul>
                                        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-phone close_video_chat" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-microphone-slash" aria-hidden="true"></i></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="send-message">
                    <form action="" method="">
                        <input type="text" class="form-control" #messageInput name="" value="" id=""
                            placeholder="Type your message here ..." />

                        <ul class="list-inline">
                            <li>
                                <a href="JavaScript:Void(0);" id="attach"> <i class="fas fa-paperclip"></i> </a>

                            </li>
                            <li> <i class="fas fa-paper-plane" (click)="sendMessage(messageInput.value)"></i> </li>
                        </ul>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $("#dset").click(function () {
            $(".setting-drop").toggle('1000');
        });
        $("#video_chat").click(function () {
            $("#video_section").toggle('slow');
            $(".msg_history").toggle(' ');
        });
    });



</script>