.askName{
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.askName .btn-login{
    background-color:#FF5964;
    color:#fff;
}
a{
    color:#fff;
}

.askNameInput{
    text-align: center;
}