<div class="container">
    <div class="room-list">
        <div class="room" *ngFor="let item of client.rooms | keyvalue">
            <div class="info">
                <h2 class="title">{{item.value.name}}</h2>
                <p class="desc"></p>
            </div>
            <div class="social">
                <a href="/room/{{item.value.key}}"><span>Join game</span></a>
            </div>
        </div>
    </div>

    <button (click)="createRoom()" class="create-button">CREATE A ROOM</button>
</div>
